
# Ignore Mac system files
.DS_store

# Ignore configuration files
*.yaml

# Ignore gradle folder
gradle 

# Ignore Topics folder
Topics

# Ignore all html files
*.html

# Ignore gradle files
*.gradle

# Ignore xml files
*.xml

# Ignore idea folders
.idea